@import "Reset.css";
@import "Colors.css";

.App {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: var(--very-dark-blue);

}

.body {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

.userMenu {
  display: flex;
  flex-direction: column;
  /* justify-items: center;
  align-items: center; */
  width: 30%;
  height: 80%;
  background-color: var(--dark-blue);
  margin: 10px;
  border-radius: 0.8rem;
}

.profileBorder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 10%;
  border-radius: 50%;
  background-color: white;
  aspect-ratio: 1;

}

.profileImg {
  width: 95%;
}

.userCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--desaturated-blue);
  height: 75%;
  width: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
}

.timeFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 25%;
  width: 100%;
  padding: 15px;

}

.selected{
  color: white;
}

button {
  height: auto;
  width: auto;
  background-color: transparent;
  border: transparent;
  color: var(--desaturated-blue);
  justify-self: left;
  text-align: start;
}

p,
h1,
h2,
h3 {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-family: 'Rubik', sans-serif;
}

p {
  font-weight: 300;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}