.breakdownGrid {
  display: grid;
  grid-template-columns: repeat(3,  1fr);
  grid-gap: 20px;
  width: 70%;
  height: 80%; 
  margin: 10px;
}

.breakdownCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--lime-green);
  height: 100%;
  border-radius: 1rem;
  margin: 0;
  padding: 0;
}

.statsCard {
  display: flex;
  background-color: var(--dark-blue);
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80%;
  border-radius: 0.8rem;
  margin: 0;
  padding: 0;
}

.time{
  font-size: 4rem;
  color: white;
}
